.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


#yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*


node_modules
!packages/transaction-trace-provider/patches/*
dist
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

# Packages
packages/*/dist/
packages/*/node_modules/

# others
lerna-debug.log

.idea
.idea/evm-debuger.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/transactionTraceService.xml
transaction-trace-provider.zip

.aws-sam

temporary/
scripts/.tmp
